.menuButtonContainer {
    display: inline;
    padding: 0.2rem;
    flex-grow: 1rem;
    z-index: 10;
}

@media screen and (min-width:720px) {
    .menuButtonContainer {
        display: none;
    }
}