 .navBarButtonsContainer {
     display: none;
 }

 .navBarButtonsContainerActive {
     display: inline-flex;
     flex-wrap: wrap;
     flex-direction: column;
     position: absolute;
     right: 0;
     top: 3rem;
     background-color: rgba(40, 41, 61, 0.8);
     backdrop-filter: blur(3px);
     transition: ease-in 0.2s;
 }

 .navBarButtonsContainerActiveLightTheme {
     background-color: rgba(255, 252, 247, 0.8);
     transition: ease-in 0.2s;
 }

 .navBarButton {
     margin: 0.5rem 0;
     padding: 0;
 }

 @media screen and (min-width:720px) {
     .navBarButtonsContainer {
         display: inline-flex;
         flex-wrap: wrap;
     }

     .navBarButton {
         margin: 0;
         padding: 0;
     }
 }