.toggleButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.8rem;
}

.toggleButtonStructure {
    border-radius: 10px;
    width: 40px;
    height: 16px;
    background-color: gray;
    display: inline-block;
    position: relative;
    padding: 0;
    transition: ease-in 0.2s;
}

.toggleButtonStructureLightTheme {
    background-color: #D4D4D4;
    transition: ease-in 0.2s;
}

.toggleButtonBouncingCircle {
    border-radius: 100%;
    width: 16px;
    height: 16px;
    display: inherit;
    position: absolute;
    background-color: white;
    z-index: 5;
    transition: ease-in 0.2s;
}

.toggleButtonBouncingCircleLightTheme {
    background-color: #1E201F;
}

.left {
    transform: translate(0, 0);
}

.right {

    transform: translate(150%, 0);
}

.toggleButtonTitle {
    display: block;
    margin-bottom: 0.2rem;
    color: lightgray;
    transition: ease-in 0.2s;
}

.toggleButtonTitleLightTheme {
    color: #1E201F;
    transition: ease-in 0.2s;
}

.toggleButtonContainer p {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}