.card{
    margin:0 auto;
    width:90%;
    max-width: 70rem;
    height: auto;
    border-radius: 10px;
    background-color:rgb(40, 41, 61);
    color:white;
    display:flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    /* To make padding squish accordiing to screen */
    /* padding-block: min(10vh,10rem); */
}