.card {
    margin: 0 auto;
    width: 90%;
    height: auto;
    border-radius: 10px;
    background-color: rgb(40, 41, 61);
    box-shadow: 1px 1px 2px #212428;
    color: white;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    transition: ease-in 0.2s;
    margin-bottom: 2rem;
    /* To make padding squish accordiing to screen */
    /* padding-block: min(10vh,10rem); */
}

.cardLightTheme {
    background-color: rgb(255, 252, 247);
    color: #212428;
    box-shadow: 1px 1px 2px lightgray;
    transition: ease-in 0.2s;
}