.logo {
    font-size: 1.5rem;
    font-weight: 350;
    text-shadow: 2px 2px 16px white;
    flex-grow: 1;
    transition: ease-in 0.2s;
}

.logoLightTheme {
    text-shadow: 2px 2px 16px #212428;
    transition: ease-in 0.2s;
}

a:link {
    text-decoration: none;
}

.logo:hover {
    text-shadow: 1px 1px 8px white;
}

.logoLightTheme:hover {
    text-shadow: 1px 1px 8px #212428;
}

.header {
    padding: 0.5rem;
    min-height: 3rem;
    position: sticky;
    top: 0;
    background-color: rgb(40, 41, 61);
    box-shadow: 0 1px 2px black;
    color: white;
    display: flex;
    align-items: center;
    transition: ease-in 0.2s;
}

.headerLightTheme {
    background-color: rgb(255, 252, 247);
    box-shadow: 0 1px 2px lightgray;
    color: #212428;
    transition: ease-in 0.2s;
}