.searchBox {
    padding: 0 1rem;
    display: flex;

}


.searchIcon:hover {
    filter: drop-shadow(0px 0px 3px white);
}

.textBox {
    background: transparent;
    outline: 0;
    border-width: 0 0 1px;
    border-color: gray;
    color: white;
    caret-color: white;
    width: 0px;
    display: none;
}

.textBoxLight {
    border-color: #1C1C27 !important;
    color: black;
    caret-color: black;
}

.textBox_open {
    display: inline-block !important;
    width: auto !important;
}

.textBox:focus {
    border-color: white;
}