.subTitleRow {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}

.loading {
    font-size: 4rem;
    font-weight: 100;
    margin: 30vh auto;
}

h1 {
    font-weight: 300;
}