.row {
    display: flex;
    margin: 0;
    padding: 0;
    /* border-radius: 10px; */
}

.row:nth-of-type(even) {
    background-color: rgba(233, 236, 239, 0.1);
}

.rowLightTheme:nth-of-type(even) {
    background-color: rgba(28, 28, 39, 0.1);
}

.hourSection {
    display: inline;
    font-weight: 400;
    margin: 0.1rem 0;
    vertical-align: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
    flex-basis: 20%;
    align-self: center;
    text-align: center;
}

.dataSection {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    flex-basis: 80%;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.column {
    display: flex;
    margin: 0;
    flex-basis: 50%;
}

.columnSmall {
    display: flex;
    margin: 0;
    flex-basis: 50%;
    flex-direction: column;
    justify-items: flex-start;
    align-content: flex-start;
}

.dataCell {
    display: flex;
    padding: 0 0 0 0.5rem;
    text-align: left;
    flex-basis: 100%;
}

.row .p {
    margin: 0.2rem 0;
}

@media screen and (min-width:720px) {
    .dataSection {
        flex-direction: row;
        margin: 0;
    }

    .column {
        padding-block: 0;
    }

    .row p {
        padding: 0;
    }

}