.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
}

.row:nth-of-type(even) {
    background-color: rgba(233, 236, 239, 0.1);
}

.rowLightTheme:nth-of-type(even) {
    background-color: rgba(28, 28, 39, 0.1);
}

.hourSection {
    display: inline;
    font-weight: 400;
    margin: 0.1rem 0;
    vertical-align: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.dataSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    padding: 0.5rem 0 0.5rem 0.5rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.columnSmall {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    /* The next line fixes safari on ios problem, but looks horrible in other browsers */
    /* padding-bottom: 1rem; */
}

.columnSmall:nth-of-type(odd) {
    padding-top: 1rem;
}

.dataCell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 0 0.5rem;
    text-align: left;
    /* flex: 1 0 auto; */
    -ms-flex-negative: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.column .p {
    margin: 0.2rem 0;
}

@media screen and (min-width:800px) {
    .dataSection {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin: 0;
    }

    .column p {
        margin: 0;
    }

    .columnSmall:nth-of-type(odd) {
        padding-top: 0;
    }
}